html, body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  color: rgb(72, 72, 72);
}

h1,
h3 {
  font-weight: normal;
}

h4 {
  font-size: 25px;
}

h6 {
  font-size: 18px;
  margin: 0px;
  margin-top:25px;
}

.header {
  padding: 25px;
  background-color: #f5f5f5;
}

.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.writing-holder {
  max-width: 800px;
  padding: 15px;
  margin: auto;
}

.writing {
  font-size: 18px;
  line-height: 1.5;
}

.image-holder {
  text-align: center;
  font-size: 14px;
  padding: 30px;
  padding-top: 40px;
}

.acknowledgements {
  font-size: 14px; 
}
